# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc
# Environments
.env
.venv
env/
venv/
ENV/

# IDEs and Editors
.vscode
.idea/
.DS_Store

# Logs and databases
*.log
*.sqlite

# Project specific
.gemini
